@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Poppins";
}

body.tox-fullscreen .tox.tox-tinymce.tox-fullscreen {
  z-index: 1000001;
}

.tox.tox-silver-sink.tox-tinymce-aux {
  z-index: 1000001;
}

.swal2-container {
  z-index: 1000002;
}
